#list is mutable one once we can assign the item or element we can able to change it

#we can store multiple datatypes inside the list

In [52]:
list1=[1,2,"nithish",True,0.2]
print(list1)

[1, 2, 'nithish', True, 0.2]

In [53]:
#slicing[start:stop:end]
list1[0:3:1]

[1, 2, 'nithish']

In [54]:
list1[::-1]

[0.2, True, 'nithish', 2, 1]

In [55]:
list1[:-1]

[1, 2, 'nithish', True]

In [56]:
#indexing
list1[0]

1

In [57]:
list1[2]

'nithish'

In [58]:
#mutable property
list1[0]=28

In [59]:

list1

[28, 2, 'nithish', True, 0.2]

In [60]:
#remove
list1.remove(28)

In [61]:
#inesert
list1.insert(0,28)

In [62]:
#pop
list1.pop(0)

28

In [63]:
list1.append([1,2,3])

In [64]:
#append will add the whole list at the end of the original list
list1

[2, 'nithish', True, 0.2, [1, 2, 3]]

In [65]:
list1.extend([1,2,3])

In [66]:
#expand will add the values at the index
list1

[2, 'nithish', True, 0.2, [1, 2, 3], 1, 2, 3]

In [68]:
list1.remove([1,2,3])

In [69]:
list1

[2, 'nithish', True, 0.2, 1, 2, 3]

In [71]:
#for loop using list
for i in list1:
    print(i)

2
nithish
True
0.2
1
2
3

In [87]:
#nested list in python
lst_value=[[[1,2,3],[4,5,6],[7,8,9]]]
print(lst_value[0][0])

[1, 2, 3]

In [74]:
#list comprehension with for loop
#syntax=[expression for item in iterable]
x=[x**2 for x in range(10)]
print(x)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [81]:
#list comprehension for loop with if condition
#syntax=[expression for item in iterable if condition]
squared_value=[x**2 for x in range(0,10) if x%2==0]
print(squared_value)

[0, 4, 16, 36, 64]

In [83]:
#list comprehension with nested for loop
#syntax=[expression for item1 in iterable1 for item2 in iterable2]
value=[[i,j] for i in range(0,5) for j in range(0,3)]
print(value)

[[0, 0], [0, 1], [0, 2], [1, 0], [1, 1], [1, 2], [2, 0], [2, 1], [2, 2], [3, 0], [3, 1], [3, 2], [4, 0], [4, 1], [4, 2]]

#deep copy and shallo copy in python

In [4]:
#deep copy in list

lst1=[1,2,3,4]
lst2=lst1
print(lst1)
print(lst2)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [5]:
#we change one value in the main array 
#but if reflects on the other array is called deep copy 
lst1[0]=12
print(lst1)
print(lst2)

[12, 2, 3, 4]
[12, 2, 3, 4]

In [6]:
#shallow copy
lst3=[1,2,3,4]
lst4=lst3.copy()
print(lst3)
print(lst4)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [7]:
#we change one value in the main array 
#but it does not reflects on the other array is called deep copy 
lst3[0]=12
print(lst3)
print(lst4)

[12, 2, 3, 4]
[1, 2, 3, 4]