#sets are inbuilt  data type in python used to store collection of uique datatypes.

#they are unordered meaning that the elements do not fllow a specific order

#they do not allow a duplicate elements

#usefull in membership tests and performing mathematical operation like union,intersection,difference

In [159]:
#creation of set
empty_set=set()
print(empty_set)
print(type(empty_set))

set()
<class 'set'>

In [160]:
#set will be in curly braces
value_set={1,2,3,4,5,6}
print(value_set)
print(type(value_set))

{1, 2, 3, 4, 5, 6}
<class 'set'>

In [161]:
#duplicate property set does not allow a duplicate values

data={1,2,3,4,5,6,5,7}
print(data)
print(type(data))

{1, 2, 3, 4, 5, 6, 7}
<class 'set'>

#Attributes of set

In [162]:
#add a value to set
data.add(8)
print(data)

{1, 2, 3, 4, 5, 6, 7, 8}

In [163]:
#remove a value from set
data.remove(8)
print(data)

{1, 2, 3, 4, 5, 6, 7}

In [164]:
#pop-remove first item
data.pop()
print(data)

{2, 3, 4, 5, 6, 7}

In [165]:
#clear-remove all items from the set
data.clear()
print(data)

set()

#memebership property in sets

In [166]:
my_set={1,2,3,4,5}
print(3 in my_set)

True

In [167]:
print(6 in my_set)

False

#mathematical opearation in sets

In [168]:
my_set1={1,2,3,4,5,6}
my_set2={4,5,6,7,8,9}

In [169]:
#union returns the unique elements from both the sets
result=my_set1.union(my_set2)
print(result)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [170]:
#intersection return common value in the both sets
result1=my_set1.intersection(my_set2)
print(result1)

{4, 5, 6}

In [171]:
#difference - return the unique value in the my_set1 
result3=my_set1.difference(my_set2)
print(result3)

{1, 2, 3}

In [172]:
#difference - return the unique value in the my_set2
result4=my_set2.difference(my_set1)
print(result4)

{8, 9, 7}

In [173]:
#intersection_update - take commonn values from both the set and set intersection value to my_set1  
my_set1.intersection_update(my_set2)
print(my_set1)

{4, 5, 6}

In [174]:
print(my_set1)
print(my_set2)

{4, 5, 6}
{4, 5, 6, 7, 8, 9}

In [175]:
#symmetric difference- take unique elements from both set
my_set1.symmetric_difference(my_set2)

{7, 8, 9}

In [176]:
set1={1,2,3,4,5}
set2={3,4,5}

In [177]:
set1.issubset(set2)

False

In [178]:
set1.issuperset(set2)

True

In [179]:
#to find a duplicate element in list
list1=[1,2,3,4,3,5,6,2]
type_cvt=set(list1)
print(type_cvt)

{1, 2, 3, 4, 5, 6}

In [180]:
set1={1,2,4,5,6,7}

In [181]:
#Unlike set.remove(), the discard() method does not raise an exception
# when an element is missing from the set.
set1.discard(10)

In [182]:
#shallow copy-whenever we add or remove items from original set it does not affect copied set
set2=set1.copy()

In [183]:
set2

{1, 2, 4, 5, 6, 7}

In [184]:
set1.add(8)
print(set1)
print(set2)

{1, 2, 4, 5, 6, 7, 8}
{1, 2, 4, 5, 6, 7}

In [185]:
str="hi Hello i am Nithish Kumar from Ariyalur district hi"

In [186]:
word=str.split(' ')

In [187]:
print(word)

['hi', 'Hello', 'i', 'am', 'Nithish', 'Kumar', 'from', 'Ariyalur', 'district', 'hi']

In [188]:
word_count=set(word)

In [189]:
print(word_count)
print(len(word_count))

{'hi', 'Nithish', 'from', 'i', 'Hello', 'Kumar', 'am', 'district', 'Ariyalur'}
9