sqlite => is a self contained server less database and zero configuration database engine

that is widely used in embedded database system

In [26]:
import sqlite3

In [27]:
#creation of database
connection=sqlite3.connect('sample.db')

In [28]:
cursor=connection.cursor()

In [29]:
cursor.execute('''
Create Table If Not Exists student(
               student_id Integer Primary Key,
               student_name Text Not Null,
               student_age Integer Not Null,
               student_dept Text Not Null 
               )
''')

connection.commit()

In [30]:
cursor.execute('Select * from student')

In [31]:
#insert sigle query
cursor.execute('''
        Insert Into student(student_name,student_age,student_dept)
               Values("nithish",22,"it")
''')

cursor.execute('''
        Insert Into student(student_name,student_age,student_dept)
               Values("vijay",24,"eee")
''')

cursor.execute('''
        Insert Into student(student_name,student_age,student_dept)
               Values("mohan",25,"mech")
''')

cursor.execute('''
        Insert Into student(student_name,student_age,student_dept)
               Values("gokul",21,"cse")
''')

connection.commit()

In [32]:
#fetching the data from the student.db
cursor.execute('Select * from student')
rows=cursor.fetchall()

for row in rows:
    print(row)

(1, 'nithish', 22, 'it')
(2, 'vijay', 24, 'eee')
(3, 'mohan', 25, 'mech')
(4, 'gokul', 21, 'cse')
(5, 'nithish', 22, 'it')
(6, 'vijay', 24, 'eee')
(7, 'mohan', 25, 'mech')
(8, 'gokul', 21, 'cse')

In [33]:
cursor.execute('''
        UPDATE student
               Set student_age=23
               Where student_name="nithish"
''')

In [34]:
#update the student.db
cursor.execute('Select * from student')
rows=cursor.fetchall()

for row in rows:
    print(row)

(1, 'nithish', 23, 'it')
(2, 'vijay', 24, 'eee')
(3, 'mohan', 25, 'mech')
(4, 'gokul', 21, 'cse')
(5, 'nithish', 23, 'it')
(6, 'vijay', 24, 'eee')
(7, 'mohan', 25, 'mech')
(8, 'gokul', 21, 'cse')

In [35]:
#Delete single data from student.db

cursor.execute('''
        DELETE from student
               Where student_name="nithish"
''')

In [36]:
cursor.execute('Select * from student')
rows=cursor.fetchall()

for row in rows:
    print(row)

(2, 'vijay', 24, 'eee')
(3, 'mohan', 25, 'mech')
(4, 'gokul', 21, 'cse')
(6, 'vijay', 24, 'eee')
(7, 'mohan', 25, 'mech')
(8, 'gokul', 21, 'cse')

In [37]:
connection.close()

inserting bulk data into the database

In [38]:
#creation of bulk dataset
connection=sqlite3.connect('bulk.db')

In [39]:
cursor=connection.cursor()

In [40]:
cursor.execute('''
        Create Table If Not Exists employees(
            emp_id Integer Primary Key,
            emp_name Text Not Null,
            emp_age Integer Not Null,
            emp_profession Text Not Null
               )
''')
connection.commit()

In [41]:
cursor.execute('Select * from employees')

In [43]:
data=[
    ("nithish",22,"AIML enginner"),
    ("chandra",18,"civil engineer"),
    ("surya",21,"Data Analyst"),
    ("vasanth",22,"Data Analyst"),
    ('hariharan',21,"Full stack developer")
]

cursor.executemany('''
    Insert Into employees(emp_name,emp_age,emp_profession)
                   Values(?,?,?)
''',data)

connection.commit()

In [44]:
cursor.execute('Select * from employees')
rows=cursor.fetchall()

for row in rows:
    print(row)

(1, 'nithish', 22, 'AIML enginner')
(2, 'chandra', 18, 'civil engineer')
(3, 'surya', 21, 'Data Analyst')
(4, 'vasanth', 22, 'Data Analyst')
(5, 'hariharan', 21, 'Full stack developer')

In [45]:
connection.close()