#tuple is immutable one.once the item or element is assigned we cannot change it

#item assignment is not possible in tuple

In [11]:
tple=(1,"nithish",28,True)
print(tple)

(1, 'nithish', 28, True)

In [12]:
tple*3

(1, 'nithish', 28, True, 1, 'nithish', 28, True, 1, 'nithish', 28, True)

In [13]:
tple

(1, 'nithish', 28, True)

In [14]:
#indexing
tple[1]

'nithish'

In [17]:
#count
tple.count(28)

1

In [21]:
#packing in tuple

num=1,2,3,4,5,6
print(num)

(1, 2, 3, 4, 5, 6)

In [22]:
#unpacking in tuple
a,*b,c=num
print(a)
print(b)
print(c)

1
[2, 3, 4, 5]
6

In [25]:
#concatenate in tuple
tple1=(1,2,3,4)
tple2=(5,6,7,8)
tple3=tple1+tple2
print(tple3)

(1, 2, 3, 4, 5, 6, 7, 8)

In [27]:
#for loop in tuple
for i in tple3:
    print(i,end=" ")

1 2 3 4 5 6 7 8

In [32]:
#nested tuple and accessing
tple4=(((1,2,3),(4,5,6),(7,8,9)))
tple4[2]

(7, 8, 9)